<% include shared/header.ejs %>
<h5><%- locals.file_name %></h5>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">City</th>
    </tr>
  </thead>
  <tbody>
	<% for(var  i = 0 ; i< locals.users.length ; i++ ) { %>

		<tr>
	      <th scope="row">1</th>
	      <td><%- locals.users[i].nom %> </td>
	      <td><%- locals.users[i].ville %> </td>
	    </tr>

	<% } %>

	</tbody>
</table>

<% include shared/footer.ejs %>